.about {
  font-family:$font-family-Medium;
  background-color:$color-accent;
  padding: 5rem 0;
 

  .container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
  }


  .about-content {
  @include flex-center(space-between,center);
    gap: 3rem;
    flex-wrap: wrap;
      align-items: stretch;
  }


  .about-images {
    display: flex;
    flex: 1 1 45%;
    gap: 1.5rem;

    .img-large {
      flex: 1;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;
      }
    }

    .img-small {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;
      flex: 1;

      img {
        width: 100%;
        height: 48%;
        border-radius: 10px;
        object-fit: cover;
        display: block;
      }
    }
  }


  .about-text {
    flex: 1 1 45%;
 

    .subtitle {
     @include subtitle-style();
    }

    h2 {
    @include h2;
    }

    .vision {
      color:$primary-color;
      font-weight: 600;
      margin-top: 1rem;
      font-size:24px;
    }

    p {
      color:$text-color;
      font-size: $font-size-base;
      line-height: 1.7;
      margin-bottom: 1.5rem;
      max-width: 580px;
    }

    .btn {
    @include button-style($secondary-color, $color-accent);
    }
  }


  .about-logos {
    margin-top: 4rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #e8ebf9;

    
  }

 
  @media (max-width: 992px) {
    .about-content {
      flex-direction: column;
      text-align: center;
    }

    .about-images {
      flex-direction: column;
      align-items: center;

      .img-small {
        flex-direction: row;
        justify-content: center;

        img {
          width: 48%;
          height: auto;
        }
      }
    }

    .about-text {
      h2 {
        font-size: 1.8rem;
      }

      p {
        margin: 0 auto 1.5rem;
      }
    }

    .about-logos {
      justify-content: center;
      gap: 2rem;

      img {
        width: 90px;
      }
    }
  }

  @media (max-width: 1100px) {
    padding: 3rem 0;

    .about-text {
      h2 {
        font-size: 1.6rem;
      }

      p {
        font-size: 0.95rem;
      }
    }

    .about-logos img {
      width: 80px;
    }
  }
}
