.why-choose-us {
  background-color: $primary-color;
  color: $color-accent;
  font-family: $font-family-Medium;
  padding: 2rem 0;

  .container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
  }

  .content {
    @include flex-center(space-between, center);
    flex-wrap: wrap;
    gap: 2rem;
  }

  .text-section {
    flex: 1 1 480px;

    .subtitle {
      @include subtitle-style();
    }

    h2 {
      font-size: $font-size-h2;
      color: $color-accent;
      margin-bottom: 2rem;
    }

    .features {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .feature {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        .icon {
          width: 50px;
          height: 50px;
          background: $secondary-color;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          color: $color-accent;
          flex-shrink: 0;
        
        }

        h4 {
          margin-bottom: 0.3rem;
          font-size: 1.1rem;
          color: $color-accent;
        }

        p {
          @include p;
        }
      }
    }
  }

  .image-section {
    position: relative;
    flex: 1 1 400px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      width: 100%;
      border-radius: 12px;
      object-fit: cover;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column-reverse; 
      align-items: center;
      text-align: center;
    }

    .image-section {
      order: 1; 
      width: 100%;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 400px; 
        border-radius: 12px;
        object-fit: cover;
      }
    }

    .text-section {
      order: 2; 
      text-align: center;

      h2 {
        font-size: 1.6rem;
      }

      .features {
        align-items: center;
        gap: 1.8rem;

        .feature {
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 0.8rem;

          .icon {
            margin-bottom: 0.5rem;
            align-self: center;
          }

          h4 {
            margin-bottom: 0.2rem;
          }
        }
      }
    }
  }
}