
.stats-section {
  background-color: $primary-color;
  padding: 4rem 0;

  .container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    @include flex-center(space-between, center);
    flex-wrap: wrap;
    gap: 4rem;
   
  }

  .stat {
    @extend %stat-style;
    flex: 1 1 200px;
    min-width: 180px;
    text-align: left; 
  }

  .divider {
    width: 1px;
    height: 50px;
    background-color:$color-accent;

    @media (max-width:1078.9px) {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .stats-section {
    .container {
      justify-content: center;
      gap: 2rem;
    }

    .stat {
      text-align: center; 
    }
  }
}

@media (max-width: 576px) {
  .stats-section {
    padding: 3rem 0;

    .stat {
      text-align: center;

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 0.85rem;
      }
    }
  }
}