.testimonials {
  background-color: #F3F5FC;
  padding: 4rem 0;
  font-family: $font-family-Medium;

  .container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
  }

  .section-header {
    @include flex-center(space-between, center);
    flex-wrap: wrap;
    margin-bottom: map-get($spacers, 6);

    .subtitle {
      @include subtitle-style;
    }

    h5 {
      @extend %title-text;
      @include h2;
      margin-top: 0.3rem;
    }

    .view-all {
      color: $color-special;
      text-decoration: none;
      font-size: $font-size-base;
      font-weight: 500;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .review-card {
      @include card(2rem, 12px);
      flex: 1 1 calc(33.333% - 2rem);
      min-width: 280px;
     

      .profile {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          flex-shrink: 0;
        }

        .profile-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: map-get($spacers, 2);

          h4 {
            @extend %title-text;
            margin-bottom: 0.4rem;

            span {
              @extend %title-text;
            }
          }

          .stars {
            display: flex;
            align-items: center;
            gap: 4px;
            color: $starcolor;
            font-size: 1.1rem;
            line-height: 1;
          }
        }
      }

      .quote {
        font-size: $font-size-base;
        color: $text-color;
        line-height: 1.6;
        text-align: left;
        border-top: 1px solid #F3F5FC;
        padding-top: map-get($spacers, 3);
      }
    }
  }

  
  
}
