$primary-color:#003061;
$secondary-color:#050509;
$color-accent:#ffff;
$color-special:#3AA9E9;
$text-color:#9F9F9F;




$card-bg:$color-accent;

$shadow: 0 4px 10px rgba(0, 0, 0, 0.05);


$font-family-Bold:'DmSans-Bold', sans-serif;
$font-family-Medium:'DmSans-Medium', sans-serif;


$font-size-h1: 56px;
$font-size-h2: 48px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-special:17px;
$font-size-base: 16px;
$font-weight-medium-500: 500;
$font-weight-bold-700: 700;
$btn-radius: 30px;
$starcolor:#FCBE48;
$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 3rem
  
);