@import "./variables";
@import"./mixin";
@import "./typography";
@import"./navbar";
@import"./hero";
@import"./about";
@import"./chooseus";
@import"./ourservices";
@import"./statssection";
@import"./plans";
@import"./process";
@import"./Testimonials";
@import"./Startedsection";
@import"./footer";