// --- Base setup 
@import "./variables";   // Colors, sizing, fonts etc.
@import "./mixin";       // Helper mixins
@import "./typography";  // Text styles, headings, body fonts


// --- Main layout elements ---
@import "./navbar";      // Top menu
@import "./footer";      // Bottom footer


// --- Page sections 
@import "./banner";      // top banner
@import "./about";       // About section
@import "./chooseus";    // Why choose us
@import "./ourservices"; // Services
@import "./progress";    // Progress 
@import "./Pricing";       // Pricing plans
@import "./process";     // steps
@import "./Testimonials";// Reviews 
@import "./contact";     // Contact form 
